@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import "./base/variables";
@import "./base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $fontfamily-base;
}

.px-section {
  margin: 0 80px;
}

.font-18-regular {
  font-size: $font-18;
  font-weight: $regular;
}

.font-18-medium {
  font-size: $font-18;
  font-weight: $medium;
}
.font-18-semibold {
  font-size: $font-18;
  font-weight: $semibold;
}

.font-20 {
  font-size: $font-20;
}

.font-20-medium {
  font-size: $font-20;
  font-weight: $medium;
}

.font-24-regular {
  font-size: $font-24;
  font-weight: $regular;
}

.font-24-medium {
  font-size: $font-24;
  font-weight: $medium;
}

.font-32-medium {
  font-size: $font-32;
  font-weight: $medium;
}

.gray-100 {
  color: $gray-100;
}

.gray-200 {
  color: $gray-200;
}

.primary {
  color: $primary;
}

.nav-link {
  color: $gray-100;
  font-weight: $regular;
}

.navbar-light .navbar-nav .nav-link {
  color: $gray-100;
}

.content {
  color: $primary;

  .content_inner {
    color: $secondary;
  }
}

//button

.dropdown {
  .switch-btn {
    background-color: $white;
    border-radius: 10px;
    width: 78px;
    height: 40px;

    .btn_inner {
      position: relative;
      top: -1px;
      left: -5px;
    }
  }

  .dropdown-menu {
    position: absolute;
    left: -170px;
    width: 250px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    border: none;
    padding: 0;
  }
}

.switch {
  background-color: $switch-background;
}
.switch-status {
  font-size: 0.75rem;
  color: $gray-200;
}

//profile

.profile-content {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  margin-top: 120px;
  position: relative;
  padding-bottom: 40px;

  .user-profile {
    position: absolute;
    top: -60px;
    left: 40px;
  }

  .info {
    margin: 0 10px;
  }

  .btn-outline-primary {
    color: $primary;
    border-color: $primary;
    width: 157px;
  }

  .btn-outline-primary:hover {
    color: $white;
  }
}

.event-content {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  margin-top: 120px;
  margin-left: 90px;

  .event-numbers {
    font-size: 4.375rem;
    font-weight: $semibold;
    color: $secondary;
  }

  .event-title {
    margin-top: -40px;
  }
}

//Personal Information

.personal-content {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  padding-bottom: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $gray-100;
  background-color: $switch-background;
}

.second-tab {
  color: $gray-200;
}

.table td,
.table th {
  border: none;
}

.oddeven-table {
  tr:nth-child(even) {
    background: $switch-background;
  }
  tr:nth-child(odd) {
    background: $white;
  }
}

.container {
  max-width: 1366px;
}

footer {
  background-color: $footer;
  color: $white;
  padding-top: 2px;
  padding-bottom: 20px;

  .footer-header {
    font-size: 1.3125rem;
    font-weight: $bold;
    margin-bottom: 22px;
  }

  .footer-paragraph {
    margin-bottom: 10px;
  }
}

//second tab

.nav-tabs {
  border: none;
}

.second-tabs {
  padding-left: 50px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid $primary;
}

table {
  border: none;
}

.table-head {
  color: $white;
}
.table-para {
  color: $switch-background;
}

.personalprofile-table {
  border: 1px solid $gray-200;
  border-radius: 5px;
}

.table-data {
  padding: 200px;
}

.secondtab-table {
  margin-left: 55px;
  border: 1px solid $gray-200;
  border-radius: 5px;
}

.switch-row {
  background-color: $switch-background;
}

// Participant

.enrolled {
  margin-left: 50px;
}

@media (max-width: 976px) {
  .dropdown {
    .switch-btn {
      background-color: $white;
      border-radius: 10px;
      width: 78px;
      height: 40px;

      .btn_inner {
        position: relative;
        top: -1px;
        left: -5px;
      }
    }

    .dropdown-menu {
      position: absolute;
      left: 4px;
      width: 250px;
      box-shadow: $box-shadow;
      border-radius: 4px;
      border: none;
      padding: 0;
    }
  }
}
