@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import "./base/variables";
@import "./base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $fontfamily-base;
}

.px-section {
  margin: 0 80px;
}

.font-18-regular {
  font-size: $font-18;
  font-weight: $regular;
}

.font-18-medium {
  font-size: $font-18;
  font-weight: $medium;
}
.font-18-semibold {
  font-size: $font-18;
  font-weight: $semibold;
}

.font-20 {
  font-size: $font-20;
}

.font-20-medium {
  font-size: $font-20;
  font-weight: $medium;
}

.font-24-regular {
  font-size: $font-24;
  font-weight: $regular;
}

.font-32-medium {
  font-size: $font-32;
  font-weight: $medium;
}

.gray-100 {
  color: $gray-100;
}

.gray-200 {
  color: $gray-200;
}

.nav-link {
  color: $gray-100;
  font-weight: $regular;
}

// nav content
.content {
  font-weight: $medium;
  .content_inner {
    color: $secondary;
  }
}

//button

.dropdown {
  .switch-btn {
    background-color: $white;
    border-radius: 10px;
    width: 78px;
    height: 40px;

    .btn_inner {
      position: absolute;
      top: 5px;
      left: 8px;
    }
  }

  .dropdown-menu {
    position: absolute;
    left: -170px;
    width: 250px;
    height: 219px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    border: none;
    padding: 0;
  }
}

.switch {
  background-color: $switch-background;
}
.switch-status {
  font-size: 0.75rem;
  color: $gray-200;
}
//profile

#profile {
  margin-top: 80px;
  .resourceprofile {
    background-color: $white;
    width: 881px;
    height: 359px;
    border-radius: 4px;
    box-shadow: $box-shadow;
  }
  .profile-status {
    background-color: $white;
    width: 350px;
    height: 359px;
    margin-left: 70px;
    box-shadow: $box-shadow;
  }

  .user-img {
    position: absolute;
    top: -50px;
  }

  .profile-content {
    margin-top: 40px;
    padding: 0px 200px;
  }

  .profile-paragraph {
    color: $primary;
  }

  .profile-info {
    margin-top: -15px;
  }

  // .profile-img {
  //   padding-top: -30px;
  // }

  .profile-info-content {
    font-weight: $regular;
  }

  .btn-outline-primary {
    color: $primary;
    border-color: $primary;
    width: 157px;
    height: 40px;
  }

  .btn-outline-primary:hover {
    color: $white;
  }

  .event-numbers {
    font-size: 3.75rem;
    color: $secondary;
    font-weight: $semibold;
  }

  .event-total {
    margin-top: -30px;
  }
}

//Personal Information

.personal-content {
  background-color: $white;
  border-radius: 4px;
  height: 500px;
  box-shadow: $box-shadow;
}

//buttons
.btn-light {
  background-color: $background-color;
  width: 152px;
  height: 40px;
}

.btn-sec {
  background-color: $white;
  border: none;
}

// table {
//   position: absolute;
//   left: 10px;
// }

.table td,
.table th {
  // background-color: $switch-background;
  border: none;
}

// .tp-1 {
//   padding-right: 450px;
// }

// .switch-colors {
//   background-color: $switch-background;
//   height: 73px;
// }

.thematic-areas-table {
  tr:nth-child(even) {
    background: $switch-background;
  }
  tr:nth-child(odd) {
    background: $white;
  }
}
