@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import "./variables";

//Font Family
$fontfamily-base: "Mukta", sans-serif;

//Font Weights
$regular: 400;
$medium: 500;
$semibold: 600;

//Font sizes
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-32: 2rem;
