//Main Colors
$primary: #0d6efd;
$secondary: #e12a2a;

$footer: #0b3e76;

//background
$background-color: #f0f2f5;
$switch-background: #f9fbff;

//grayscale colors
$gray-100: #333333;
$gray-200: #828282;
$white: #ffffff;

$box-shadow: 0px 2px 4px rgba(19, 19, 19, 0.15);
